{% load pdfgen_tags %}
{% load dataform_tags %}
<!DOCTYPE html>
<html>
<head>
<title> Propadis </title>
</head>
<body>
        {% date_with_delta 'last month' as last_month_date %}
        {% date_with_delta 'last month' last_month_date as last_month_date2 %}
        {% date_with_delta 'last month' last_month_date2 as last_month_date3 %}
        {% convert_date last_month_date3 "%m" as last_month_date4 %}
        {% widthratio last_month_date4|floatformat:"0"|add:"1" 3 1 as current_month_quarter %}
        {% now "Y" as current_year %}
            Current year: {{ current_year }}
            Current quarter: {{ current_month_quarter }}
            <br>
            {% for item in items %}
            {% convert_date item.due_date "%m" as due_date_month %}
            {% widthratio due_date_month|floatformat:"0"|add:"1" 3 1 as due_date_quarter %}
            {% convert_date item.due_date "%Y" as due_date_year %}
            <br>
                {{ item.due_date }}
                {{ due_date_month }}
                {{ due_date_quarter }}
                {{ due_date_year }}
            
            <br>

            {% if due_date_quarter == current_month_quarter and due_date_year == current_year %}
              fsfds:  {{ item.due_date }}
                <br>
            {% endif %}
            {% endfor %}


</body>
</html>